html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Roboto, Noto, sans-serif;
    background-color: #fff;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}