body {
    margin: 0;
    padding: 0;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header {
    margin: 0px 23px 0px 12px;
}

header h3 {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0px;
    letter-spacing: 3px;
}

img {
    cursor: pointer;


}

.no-shrink {
    max-width: 1440px;
    height: 240px;
    object-fit: cover;
    cursor: pointer;
}

.card-title {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
    font-size: 18px;
    font-weight: 400;
}

.card-title-3 {
    margin: 25px;
    font-size: 15px;
    font-weight: 400;
}

.button {
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size: 15px;
}


.button-1 {
    display: flex;
    justify-content: center;
    margin: 27px 0px 40px 0px;
    font-size: 15px;
}

.buttom-3 {
    background-color: white;
    padding: 7px 21px;
}

button {
    padding: 8px 44px;
    background-color: white;
    border: 2px solid black;

}

.footer-btn {
    padding: 6px 18px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.86;

}


.card-2,
.card-3 {
    margin-top: 35px;

}

.img-3 {
    display: flex;
    object-fit: cover;
    float: left;
}

footer {
    color: hsl(180, 0%, 42%);
    font-size: 13px;
    margin-top: 15px;
}

.offcanvas.offcanvas-start {
    max-width: 60%;
    font-size: 13px;
    color: lab(43.6% 0 -0.01);
    padding-top: 5px;
}

.nav-link {
    margin: 24px 20px 0px;
    cursor: pointer;
}

.nav-link.active {
    color: black;
    font-weight: 700;

}

.desktopMenu {
    display: none;
}


@media (min-width:768px) {
    .menu-img {
        display: none;
    }

    header {
        margin-top: 10px;
    }

    .nav-link.active {
        font-weight: 400;
        border-bottom: 2px solid black;
        text-underline-offset: 6px;
    }

    .desktopMenu {
        padding: 0px 15px;
        display: inline;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        font-size: 13px;
    }

    .desktopMenu a {
        padding: 5px 0px;
        margin-bottom: 5px;
    }

    .no-shrink {
        max-width: 100vw;
        height: 320px;
        display: block;
    }

    .button {
        margin-bottom: 40px;
    }

    .card-title {
        margin: 32px 0px;
    }

    .card-title-3 {
        margin: 32px 0px;
    }

}



/* Men's Outerware CSS */



header h3 {
    margin-top: 15px;
}

.container {
    margin-top: 10px;

}

.card-item {
    max-width: 50%;
    padding: 15px;
}

.mensTitle a {
    font-size: 14.3px;
    margin: 4px;
    color: black;
}

.item-count {
    margin-bottom: 15px;
    color: rgb(117, 117, 117);
    font-size: 12px;
}

.title {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 700;
}

.price {
    font-size: 13px;
    color: #757575;
}

.footer {
    margin-top: 20px;
}

.card-1-desktop img {
    display: none;
}

/* single item page */


.detail {
    margin: 0px 7% 0px 7%;
}

.photo {
    width: 95%;
    margin-bottom: 30px;

}

.selection {
    margin-top: 30px;
}

.size-option,
.quantity-option {
    color: #757575;
    font-size: 14px;
    margin-top: 6px;

}

.size {
    margin-left: 35px;
    border: none !important;
    box-shadow: none
}

.quantity {
    margin-left: 10px;
    border: none !important;
    box-shadow: none
}

.box-1 {

    border-top: 1px solid hwb(0 75% 25%);
    border-bottom: 1px solid hwb(0 75% 25%);
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    

}

.box-2 {
    border-bottom: 1px solid hwb(0 75% 25%);
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}


select {
    outline: none;
    padding: 0px 270px 0px 0px;
    border: none;
    background-color: white;
}



option {
    background-color: white;
}

.des {
    margin-top: 30px;
    margin-bottom: 30px;
}

.description {
    font-size: 13px;
    font-weight: 700;
    padding-top: 30px;
}

.para-detail {
    list-style-type: disc;
    padding-top: 15px;
    font-size: 13px;
    color: #757575;
}

.para-detail li {
    margin-left: 20px;
}

.fixed-bottom-div {
    background-color: #172C50;
    padding: 20px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
}

.add-to-cart {
    display: none;
}

/* checkout css */

.checkout {
    font-size: 14.6px;
    margin-bottom: 5px;
}

.form-container {
    margin: 5px 7%;
}

.acc-txt {
    font-size: 13px;
    color: #202020;
    font-weight: 700;
}

.form-floating input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #757575;
    opacity: 0.5;
}

.form-check-input {
    padding: 8px;
    margin-top: 25px;
    margin-right: 8px;
}

.paymet-info {
    margin-top: 25px;
}

.form-check-label {
    font-size: 13px;
    margin: 15px 0px;

}

.order-summary {
    margin: 40px 0px;
}

.checkout-footer {
    margin-top: 70px;
    bottom: 0;
}

.placeorder-button {
    display: none;
}


/* cart CSS */
.seleted-item {
    margin-top: 40px;
    padding: 0px 30px;
}

.cart-item-img {
    max-width: 80px;
    max-height: 80px;
}

.cart-main {
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 30px 30px 10px 30px;
}

.cart-product-row {
    align-items: center;
}

.div1 {
    padding-bottom: 20px;
}

.cart-details {
    flex-grow: 1;
    margin-bottom: 30px;
}


.cart-total {
    font-weight: 700;
    font-size: 13px;
}

.cart-label {
    color: #555;
    font-size: 13px;
}

.h5 {
    display: flex;
    justify-content: space-between;
}

.custom-floating>label {
    top: 12px;
    left: -12px;
    color: gray;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.custom-floating>input:focus+label,
.custom-floating>input:not(:placeholder-shown)+label {
    top: 0px;
    left: -10px;
    font-size: 12px;
    color: black;
}

.number {
    color: black;
}

.qyt-cart-label {
    margin-right: 8px;
    color: #555;
    font-size: 13px;
}

/* cart CSS END*/




@media (min-width :768px) {
    header h3 {
        margin-top: 0px;
    }

    .container-fluid {
        margin-top: 25px;
    }



    .card-item img {
        padding: 0% 17% 0% 17%;
        margin-bottom: 14%;
    }

    .card-1-desktop img {
        display: inline;
        margin-bottom: 20px;
    }

    .nav-link.d-flex.justify-content-center {
        font-size: 16.9px;
    }

    .detail {
        display: flex;
        padding: 0px 15px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .item-detail {
        margin-left: 100px;

    }


    .add-to-cart {
        padding: 4px 40px;
        display: inline;
    }

    .form-container {
        max-width: 1000px;
        margin: auto;
        padding: 0px 70px;
        margin-top: 40px;
    }

    .checkout {
        margin-top: 70px;
        font-size: 17px;
    }

    .order-summary-label {
        margin-top: 10px;
    }

    .placeorder-button {
        display: inline;
        padding: 4px;
        font-size: 15px;
    }

    .paymet-info {
        margin-top: 0px;
    }

    .size-option {
        padding-right: 4%;
    }




    /* cart CSS  */
    .cart-item-img {
        max-width: 8%;
        max-height: 70px;
    }

    .cart-product-row {
        align-items: center;
        margin-bottom: 0 !important;
    }

    .cart-summary {
        border-left: 1px solid #e0e0e0;
        min-height: 140px;
    }

    .seleted-item {
        max-width: 80%;
        margin-left: 120px;
        padding: 30px 130px;
    }

    .size {
        margin-left: 20px;
    }


    .quantity {
        margin-left: 5px;
    }

    .qyt-cart-label {
        margin-right: 8px;
        color: #555;
        font-size: 13px;
    }

    .cart-label {
        margin: 25px;
    }


    .form-check-input {
        margin-top: 15px;
    }


}